* {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  margin: 20px 30px;
  height: 26px;
  .logo {
    margin-top: 8px;
  }
  h1 {
    margin-left: 20px;
    margin-top: 8px;
    font-size: 20px;
  }
}
.bcg {
  width: 100%;
  height: 150%;
  background-color: #25282b;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;

  .sideBar {
    height: 100%;
    width: 30%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    z-index: 4;
    overflow-y: auto;
    @media screen and (max-width: 700px) {
      width: 100%;
    }
    .x {
      // position: absolute;
      display: flex;
      justify-content: flex-end;
      padding: 20px;
      border-bottom: 1px solid #ebecef;
      cursor: pointer;
    }
    h1 {
      font-size: 18px;
      padding: 30px;
    }
    h3 {
      font-size: 14px;
      color: rgb(175, 166, 166);
      font-weight: 600;
      padding: 0px 30px 0 20px;
    }

    p {
      padding: 10px 20px 20px;
      li {
        list-style-type: none;
      }
    }
    button {
      width: 120px;
      height: 50px;
      margin-bottom: 20px;
      background-color: #fff;
      border-radius: 6px;
      text-decoration: none;
      box-shadow: none;
      border: none;
      text-transform: uppercase;
      letter-spacing: 1px;
      cursor: pointer;
    }
    .edit {
      border: 2px solid #213c9a;
      color: #213c9a;
      margin: 0 20px;
      box-shadow: -4px 4px 24px rgba(0, 0, 0, 0.18);
      &:hover {
        border: 2px solid rgb(1, 1, 37);
        color: rgb(1, 1, 37);
      }
    }
    .remove {
      border: 2px solid#FB4E4E;
      color: #fb4e4e;
      box-shadow: -4px 4px 24px rgba(0, 0, 0, 0.18);

      &:hover {
        border: 2px solid rgb(75, 3, 3);
        color: rgb(75, 3, 3);
      }
      @media screen and (max-width: 950px) {
        margin-top: 20px;
        margin-left: 20px;
      }
    }
  }
}

.removeModalBackground {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.37);
  z-index: 8;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .removeModal {
    width: 400px;
    z-index: 5;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 10px;
    border-radius: 8px;
    h1 {
      font-size: 20px;
      padding: 20px;
    }
    p {
      padding: 20px;
    }
    button {
      width: 120px;
      height: 50px;
      margin: 25px 40px;
      background-color: #fff;

      text-decoration: none;
      box-shadow: none;
      border: none;
      text-transform: uppercase;
      letter-spacing: 1px;
      cursor: pointer;
      border-radius: 8px;
    }
    .cancel {
      border: 2px solid #213c9a;
      color: #213c9a;
      margin-right: 20px;
      margin-left: 20px;
      &:hover {
        border: 2px solid rgb(1, 1, 37);
        color: rgb(1, 1, 37);
      }
    }
    .remove {
      border: 2px solid#FB4E4E;
      color: #fff;
      background-color: #fb4e4e;

      &:hover {
        border: 2px solid rgb(192, 0, 0);
        background-color: rgb(192, 0, 0);
        color: #fff;
      }
    }
  }
}
.editSideBarWrapper {
  input,
  textarea {
    width: 300px;
    height: 20px;
    padding: 6px;
    margin: 20px;
    border: 1px solid rgba(0, 0, 0, 0.158);
    border-radius: 8px;
  }
  textarea {
    height: 300px;
    border-radius: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }

  button.save {
    border: 2px solid #213c9a;
    color: #fff;
    margin-right: 20px;
    background: #213c9a;
    border-radius: 8px;
    margin-left: 20px;
    &:hover {
      background: #111f50;
      border: 2px solid #111f50;
    }
  }
  button.cancel {
    border: 2px solid #213c9a;
    border-radius: 8px;
    color: #213c9a;

    &:hover {
      border: 2px solid rgb(1, 1, 37);
      color: rgb(1, 1, 37);
    }
  }
}
.listWrapper {
  width: 85%;
  display: flex;

  margin: 50px auto;

  .specialistsWrapper,
  .specializationWrapper {
    background-color: #fff;

    h2 {
      height: 60px;
      background-color: #f9f9fa;
      border: 1px solid rgba(0, 0, 0, 0.158);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
    }
  }
  .specialistsWrapper {
    width: 40%;
    .specialist {
      display: flex;
      border: 1px solid rgba(0, 0, 0, 0.158);
      @media screen and (max-width: 700px) {
        flex-direction: column;
        align-items: center;
      }

      img {
        height: 40px;
        width: 40px;
        padding: 10px 30px;
        border-radius: 50%;
        display: flex;
        font-size: 0;
        @media screen and (max-width: 700px) {
          margin-top: 10px;
          margin-bottom: -10px;
        }
      }
      li {
        height: 60px;
        display: flex;
        align-items: center;
        @media screen and (max-width: 700px) {
          height: 80px;
          padding: 5px;
          text-align: center;
        }
      }
    }
  }
  .specializationWrapper {
    width: 60%;
    .speciallization {
      height: 60px;
      display: flex;
      align-items: center;
      padding: 0 40px;
      border: 1px solid rgba(0, 0, 0, 0.158);
      list-style-type: none;
      position: relative;
      font-size: 16px;
      @media screen and (max-width: 700px) {
        height: 150px;
      }
      cursor: pointer;
      &:hover div.specInfo {
        display: initial;
        position: absolute;
        z-index: 1;
        background-color: white;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
          rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        padding: 10px;
        top: 60px;
        left: 40px;
        .arrowSquare {
          background-color: #fff;
          width: 16px;
          height: 16px;
          transform: rotate(45deg);
          position: absolute;
          top: -8px;
          left: 20px;
        }
      }
      div.specInfo {
        display: none;
      }
    }
  }
}
.paginationWrapper {
  width: 350px;
  margin: 20px auto;
}
